<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
 
 
  <test name="Inroll Test">
    <classes>
      <class name="inroll.INROLL"/>
    </classes>
  </test> <!-- Inroll Test -->



  <test name="IPR Test">
    <classes>
      <class name="ipr_rmd.IPR"/>
    </classes>
  </test> <!-- IPR Test -->



 <test name="Briefing Test">
    <classes>
      <class name="briefing.Briefing"/>
    </classes>
  </test> <!-- Briefing Test -->
  
  
   <test name="CRRA">
    <classes>
      <class name="crra.CRRA_Main"/>
    </classes>
  </test> <!-- CRRA Test -->
  
  
     <test name="PriceQuoteSub1">
    <classes>
      <class name="price_Quote_Submodules.PriceQuoteSub"/>
    </classes>
  </test> <!-- PriceQuoteSub1 Test -->
  
  
    <test name="PriceQuoteSub">
    <classes>
      <class name="price_Quote_Submodules.APP_ACTIVITY"/>
    </classes>
  </test> <!-- PriceQuoteSub Test -->
  
  
      <test name="subscribers">
    <classes>
      <class name="subscribers.subscriber"/>
    </classes>
  </test> <!-- subscribers Test -->
  
       <test name="title471">
    <classes>
      <class name="title47.Title47Main"/>
    </classes>
  </test> <!-- title471 Test -->
  
  
      <test name="title47">
    <classes>
      <class name="title47.Title47Carrier"/>
    </classes>
  </test> <!-- title47 Test -->
  
  
  
  <test name="tracit">
    <classes>
      <class name="tracit.Tractit"/>
    </classes>
  </test> <!-- tracit Test -->
  
  
  <test name="trfa1">
    <classes>
      <class name="trfa.TRFA"/>
    </classes>
  </test> <!-- trfa1 Test -->
  
  
  <test name="trfa">
    <classes>
      <class name="Wireless.Updates"/>
    </classes>
  </test> <!-- trfa Test -->
  
  
 
  
  
  
  
</suite> <!-- Suite -->